//variables

$color-white: #ffffff;
$color-pink: rgb(216, 37, 98);
$color-blue: #542ac9;
$color-black: #2a2a2a;
$color-green: rgb(20, 155, 76);

//mixin
@mixin fadein {
  animation: fadeIn 1s backwards;
}
@mixin inleft {
  animation: moveInLeft 1s backwards;
}
@mixin inright {
  animation: moveInRight 1s backwards;
}
@mixin inup {
  animation: moveInBottom 1s backwards;
}
