//navbar
.nav {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  color: $color-black;
  padding: 0rem 0.5rem;
  margin-top: 0%;
}

.logo-n {
  color: $color-black;
}

[class*="btn"] {
  height: 2rem;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50rem;
  color: $color-white;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
}

.btn-red {
  background-color: $color-pink;
}

.btn-blue {
  background-color: $color-blue;
  height: 2.5rem;
  width: 15rem;
}

.input {
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 5rem;
  &::placeholder {
    padding: 9px;
  }
  &:active,
  &:focus {
    outline: none;
    outline-style: none;
  }
}
hr {
  opacity: 0.5;
  color: $color-black;
}
.footer {
  margin-top: 5rem;
  width: 100wh;
  height: 200px;
  background-color: $color-blue;
}

.search {
  max-width: 60%;
  background-color: $color-white;
  flex: 1;
  padding: 1rem;
  border-radius: 123rem;
  display: flex;
  justify-content: space-between;
  &-container {
    display: flex;
    border-radius: 123rem;
    align-items: center;
    justify-content: space-between;

    &-bar {
      border: none;
      &:active,
      &:focus {
        outline-style: none;
        outline: none;
      }
    }
    &-icon {
      width: 1rem;
      cursor: pointer;
    }
  }
}

.searchbox {
  transition-duration: 300ms;
  margin-right: 1rem;
}

.closed {
  margin-left: 15rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
